
  input {
        outline-color: none;
        box-shadow: none;
    }
  input:focus {
      outline-color: none;
  }
  
  .modal-content {
        z-index: 2;
        height: 100vh;
        width: 475px;
        min-width: 300px;
        position: relative;
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        background-color: #f5f5f5;
        max-height: 100vh;
        top: -50vh;
        transform: translateY(-50%);
        overflow-y: auto;
        overflow-x: hidden;
}
.modal-overflow {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    align-items: center;
    width: 100%;
    min-height: 70vh;
    padding-bottom: 10px;

}
.modal-container {
    justify-content: center;
    align-content: center;
    align-items: center;
}

.modal-close {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    font-size: 25px;
    color: #b7b7b7;
    margin-right: 20px;
    position: relative;
    top: 10px;
}

.modal-close span {
    cursor: pointer;
}

.modal-title {
    width: 90vw;
    height: 58px;
    font-family: "Agenda";
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #131415;
}

.modal-message {
    width: 90vw;
    height: 52px;
    opacity: 0.7;
    margin-top: 32px;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #131415;
    font-family: 'Agenda';
}

.modal-background {
    position: absolute;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    opacity: 0.4;
    z-index: 1;
}

.modal-hidden {
    display: none;
}

.modal-show {
    display: flex;
}

.modal-body {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.modal-body input {
    width: 83vw;
    height: 48px;
    border-radius: 4px;
    border: solid 1px #dddddd;
    background-color: #ffffff;
    margin-top: 32px;
}


.modal-footer {
    margin-top: 32px;
    padding-bottom: 20px;
}

.error {
    background: #eb4d4b;
    padding: 10px;
    margin-top: 32px;
    color: #fff;
    border-radius: 8px;
    display: none;
}


.modal-content .btn-primary {
    width: 86vw;
    height: 47px;
    border-radius: 8px;
    background-color: #d45013;
    color: #fff;
    margin-left: 20px;
}

/* Desktop */

@media (min-width: 769px) {
    .modal-content {
        z-index: 2;
        height: 530px;
        width: 500px;
        min-width: 300px;
        position: fixed;
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border-radius: 8px;
        background-color: #f5f5f5;
        top: 50vh;
        overflow: hidden;
    }

    .modal-container {
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    
    .modal-close {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-content: flex-end;
        align-items: flex-end;
        font-size: 25px;
        color: #b7b7b7;
        margin-right: 20px;
    }

    .modal-close span {
        cursor: pointer;
    }
    .modal-background {
        position: absolute;
        background: black;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        opacity: 0.4;
        z-index: 1;
    }
    
    .modal-title {
        width: 418px;
        height: 28px;
        font-family: "Agenda";
        font-size: 28px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #131415;
    }
    
    .modal-hidden {
        display: none;
    }
    
    .modal-show {
        display: flex;
    }
    
    .modal-body {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    
    .modal-body input {
        width: 460px;
        height: 48px;
        border-radius: 4px;
        border: solid 1px #dddddd;
        background-color: #ffffff;
        margin-top: 32px;
        padding-left: 10px;
    }
    
    .modal-message {
        width: 460px;
        height: 32px;
        opacity: 0.7;
        margin-top: 58px;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: center;
        color: #131415;
        font-family: 'Agenda';
    }
    
    .modal-footer {
        margin-top: 32px;
    }
    
    .error {
        background: #eb4d4b;
        padding: 10px;
        margin-top: 32px;
        color: #fff;
        border-radius: 8px;
        display: none;
    }

    .modal-content .btn-primary {
        width: 471px;
    }
    
}
